<form [formGroup]="formGroup" novalidate>
  <div class="form-group">
    <input type="text" class="form-control" id="item" aria-describedby="item" placeholder="item">
  </div>
  <div class="form-group">
    <label for="priceRange">Price Range</label>
    <input type="range" class="form-control" id="priceRange">
  </div>
  <div class="form-group">
    <label for="distanceRange">Distance Range</label>
    <input type="range" class="form-control" id="distanceRange">
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Search</button>
  </div>
</form>