.atc-hour {
    width: 1.875rem;
}

.atc-hour > i {
    font-size: 1.875rem; 
    text-align: center;
}

.atc-hour> i:first-child { 
    border-radius: 10px 10px 0 0;
}

.atc-hour>i:last-child { 
    border-radius: 0 0 10px 10px;
}

.atc-hour > i:hover {
    background-color:#e2e2e2;
    cursor: pointer;;
}

.atc-hour > input {
    width: 1.875rem;
    text-align: center;
    /* border: 1px solid #e2e2e2; */
    border: none;
    border-radius: 5px;
}

.atc-hour > input:focus {
    outline: none;
}