/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

h1, h2, h3, h4, h5, h6, p, span, a, div, li, button, input, label {
    font-family: 'Roboto', sans-serif;
}

at-calendar ngb-datepicker {
    width: 100%!important;
}

at-calendar .ngb-dp-day, at-calendar .ngb-dp-weekday, at-calendar .ngb-dp-week-number {
    width: 100%!important;
    height: 3rem!important;
}

at-calendar .ngb-dp-month { 
    width: 100%!important;
}

at-calendar ngb-datepicker:focus {
    outline: none!important;
}

body::-webkit-scrollbar {
    width: 5px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
