/* You can add global styles to this file, and also import other style files */

@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 100%;
        max-width: none;
        padding: 0px;
    }
    .atc-container {
        max-width: 600px;
        width: 100%;
    }
}
