/* You can add global styles to this file, and also import other style files */

@media (min-width: 1200px) {
    .container { 
        padding: 0px;
    }
    .atc-container {
        max-width: 970px;
        width: 100%;
    }
}
