<div [formGroup]="formGroup">
  <div formArrayName="bhrs">
    <div class="row" *ngFor="let bh of bhrs.controls; let i=index" [formGroupName]="i">
      <div class="col">
        <input type="text" class="form-control" id="from" aria-describedby="from" placeholder="DD\MM\YYYY">
      </div>
      <div class="col">
        <input type="text" class="form-control" id="to" aria-describedby="to" placeholder="DD\MM\YYYY">
      </div>
      <div class="col col-auto">
        <i class="fa fa-edit"></i>
      </div>
      <div class="col col-auto">
        <i class="fa fa-remove"></i>
      </div>
    </div>
  </div>
</div>