<div class="atc-bg-primary">

  <div class="container">

    <nav class="bt-navbar navbar navbar-expand-lg navbar-light bg-transparent">

      <a class="navbar-brand" routerLink="/content/products/add"><span>Alltray</span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" routerLink="/content/products/add"><i class="fa fa-plus"></i></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/content/products/search"><i class="fa fa-search"></i></a>
          </li>

        </ul>

        <form class="form-inline my-2 my-lg-0" [formGroup]="formGroup" novalidate>
            <span>Profile</span>
        </form>

      </div>
    </nav>

  </div>
</div>
